<section class="h-screen w-screen" id="hero">
  <div
    class="h-full w-full relative flex items-center justify-center z-30 fondo bg-opacity-100"
  >
    <div class="flex flex-col items-center justify-center w-full h-full gap-4">
      <h1
        class="text-3xl sm:text-5xl md:text-7xl w-1/2 text-center font-bold text-white drop-shadow-lg my-48 pointer-events-none no-select"
        [ngStyle]="{ '-webkit-text-stroke': '1px rgb(51, 51, 51)' }"
      >
        <span class="font-serif italic font-bold text-[rgb(72,184,75,1)]"
          >Clini</span
        >
        <span class="font-serif italic font-bold text-[rgb(0,154,255,1)]"
          >Care:</span
        >
        Tu salud, nuestra prioridad
      </h1>

      <a
        href="#about"
        class="text-lg sm:text-xl md:text-2xl w-1/2 text-center text-white mt-4 drop-shadow-lg flex justify-center items-center breathe-animate"
      >
        <arrows-bottom-icon />
      </a>
    </div>
  </div>
</section>
