<side-menu-item
  route="/patient/dashboard"
  titulo="Dashboard"
  subtitulo="Resumen general"
>
  <menu-icon color="#8184FB" />
</side-menu-item>

<side-menu-item
  route="/patient/appointments"
  titulo="Mis Citas"
  subtitulo="Gestiona tus citas"
>
  <calendar-icon color="#8184FB" [size]="24" />
</side-menu-item>

<side-menu-item
  route="/patient/history"
  titulo="Historial Médico"
  subtitulo="Consulta tu historial Médico"
>
  <medical-history-icon color="#8184FB" [size]="24" />
</side-menu-item>
